[Unit]
Description=Hot Cross Buns calendar reminder service
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/libexec/hot-cross-buns/hcb-reminderd
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
